.logo
  Logo da Escola
.infos
  Olá, 
  = current_school.name
.clear
%ul
  %li= link_to t('actions.home'), school_root_path
  %li= link_to t('actions.edit', model: 'Escola'), edit_school_registration_path
  %li= link_to t('actions.subjects'), school_subjects_path
  %li= link_to t('actions.teachers'), school_teachers_path
