= form_for [:school, @teacher], html: { method: (@teacher.new_record? ? :post : :put) } do |f|
  
  %p= f.label :name
  %p= f.text_field :name

  %p= f.label :email
  %p= f.text_field :email

  = f.submit t('actions.confirm')